<mat-card>
  <mat-card-header>
    <!-- <h2>
            EmployeeList
        </h2> -->
    <button mat-raised-button (click)="addemployee()">Add Employee</button>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="EmployeeId">
        <th mat-header-cell *matHeaderCellDef> Employee Id </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="EmployeeName">
        <th mat-header-cell *matHeaderCellDef> Employee Name </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
      </ng-container>
      <ng-container matColumnDef="DepartmentName">
        <th mat-header-cell *matHeaderCellDef> Department Name </th>
        <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
      </ng-container>
      <ng-container matColumnDef="DateOfJoining">
        <th mat-header-cell *matHeaderCellDef> Date Of Joining </th>
        <td mat-cell *matCellDef="let element"> {{element.dateOfJoining | date}} </td>
      </ng-container>
      <ng-container matColumnDef="PhotoFileName">
        <th mat-header-cell *matHeaderCellDef> Photo </th>
        <td mat-cell *matCellDef="let element">
          <img
            [src]="element.photoFileName ? 'https://localhost:7022' + element.photoFileName : 'https://cdn-icons-png.flaticon.com/512/149/149071.png'"
            class="prof-img" alt="employee">
        </td>
      </ng-container>
      <ng-container matColumnDef="Options">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="EditEmployee(element.employeeId)">Edit</button>
          <button mat-raised-button color="warn" (click)="DeleteEmployee(element.employeeId)">Delete</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>

</mat-card>